## Description based stock recommendation

Description downloaded from yahoo finance.

In [90]:
##
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [91]:
df = pd.read_csv("https://raw.githubusercontent.com/llnOrmll/RecommendationSys/master/datasets/stock_dataset.csv")

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2295 entries, 0 to 2294
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2295 non-null   int64
 1   code                2295 non-null   int64
 2   name                2295 non-null   object
 3   mkt_segment         2295 non-null   int64
 4   close               2295 non-null   int64
 5   transaction_volume  2295 non-null   int64
 6   mrk_cap             2295 non-null   int64
 7   shares_outstanding  2295 non-null   int64
 8   desc                2284 non-null   object
dtypes: int64(7), object(2)
memory usage: 161.5+ KB

In [93]:
df['desc'].head(15)

0     3S KOREA Co., Ltd. engages in the semiconducto...
1     AJ Networks Co.,Ltd. provides rental services ...
2     AK Holdings, Inc., through its subsidiaries, m...
3     APS Holdings Corporation, through its subsidia...
4     Advanced Process Systems Corporation develops ...
5     Asia Pacific Satellite Inc. develops and manuf...
6     BGF Co., Ltd. operates retail convenience stor...
7     BGF retail CO., LTD. operates convenience stor...
8     BNK Financial Group Inc., together with its su...
9     BYC Co., Ltd. produces and sells underwear in ...
10    CJ Corporation engages in the food and food se...
11    CJ CGV Co., Ltd. engages in the screening and ...
12    CJ ENM CO., Ltd., together with its subsidiari...
13    CJ Logistics Corporation provides integrated t...
14    CJ Seafood Corporation provides processed food...
Name: desc, dtype: object

In [94]:
df['length'] = df['desc'].str.len()
df['length'].describe()

count    2284.000000
mean      658.003503
std       382.227183
min        76.000000
25%       374.000000
50%       559.000000
75%       856.000000
max      2047.000000
Name: length, dtype: float64

In [95]:
df[df['length'] == df['length'].min()]['desc'].iloc[0]

'KB No.20 Special Purpose Acquisition Company is based in Seoul, South Korea.'

## Tf

In [108]:
tfidf = TfidfVectorizer(stop_words='english')

In [109]:
df['desc'] = df['desc'].fillna('')

In [110]:
tfidf_matrix = tfidf.fit_transform(df['desc'])
tfidf_matrix.shape

(2295, 15596)

In [111]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [112]:
indices = pd.Series(df.index, index=df['name']).drop_duplicates()

In [116]:
def get_recommendations(name: str, cosine_sin=cosine_sim):
    idx = indices[name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    stock_indices = [i[0] for i in sim_scores]
    return df['name'].iloc[stock_indices]

In [117]:
sample = df['name'].sample().iloc[0]
sample

'네온테크'

In [118]:
get_recommendations(sample)

1508       유테크
574       디케이티
789      비츠로테크
1478      유라테크
1204    에스에프에이
310       나무기술
325        네오셈
1349      예선테크
1199    에스앤에스텍
1346      영화테크
Name: name, dtype: object